* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url(images/pexels-pripicart-620337.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 5rem;
    color: rgb(216, 255, 44);
}

.form {
    display: flex;
    justify-content: center;

}

.btnDiv {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.btn {
    width: 250px;
    font-size: 1.2rem;
    padding: 5px;
    border: 1px solid green;
    color: darkolivegreen;
    background-color: rgb(216, 255, 44,0.2);
    cursor: pointer;
    transition: background-color .5s;
}

.btn:hover {
    background-color: rgb(216, 255, 44);
}

.btn:active {
    transform: scale(1.1);
}

::placeholder {
    color: rgb(216, 255, 44); 

}

.inputText {
    margin-top: 10px;
    width: 600px;
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(240, 248, 255, 0);
    font-size: 1.4rem;
    border-bottom: 3px solid darkgreen  ;
}

.info {
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.info p {
    margin-top: 20px;
}

.weather-container{
    border: 1px solid lime;
    background-color:rgb(0, 0, 0,0.6);
    padding: 10px 20px;
    border-radius:5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 10px auto;
}

#weather {
    color:rgb(216, 255, 44); 
    margin-top:-5px;
}

#city{
    color:green;
}

.temp-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.temp-container .fa-c {
    transform: translate(10px, 25px);
    font-size: 4rem;
    color:rgb(242, 255, 0);
}

#temperature {
    font-size: 4rem;
    color:greenyellow;
}

 .feel {
    display: flex;
    justify-content: center;
} 

.feel p {
    color:rgb(0, 198, 0);
    font-size: 1.5rem;
}

.feel .fa-c {
    font-size: 2.5rem;
    transform: translate(10px, 25px);
    color:rgb(0, 198, 0);
    position:relative;
    bottom:10px;
}

.temp-container:hover #temperature {
    background-image: linear-gradient(45deg, lime,greenyellow);
    -webkit-background-clip: text; 
    color: transparent; 
    transition:all ease-out 0.3s;
  }

  .feel:hover #felt {
    background-image: linear-gradient(45deg, green, darkgreen);
    -webkit-background-clip: text; 
    color: transparent; 
    transition: all ease-out 0.3s;
}

.feel:hover .fa-c {
    color: darkgreen; 
    transition: color ease-out 0.3s;
}